## Dependencies

In [14]:
import pandas as pd
from sklearn.utils import shuffle

## Paths

In [ ]:
paths = {"dataset": '../dataset/bbc_hindi',
         "dataset-cleaned": '../dataset/bbc_hindi_cleaned'}

## Loading the dataset

In [15]:
data_train = pd.read_csv(f'{paths["dataset"]}/hindi-train.csv', sep="\t", encoding='utf-8', header=None)
data_test = pd.read_csv(f'{paths["dataset"]}/hindi-test.csv', sep="\t", encoding='utf-8', header=None)

## Exploring the data

In [16]:
data_train.groupby(by=0).count()

                    1
0
business           54
china              14
entertainment     285
india            1389
institutional      19
international     904
learningenglish     5
multimedia         12
news              230
pakistan           43
science           194
social             18
southasia          42
sport             258

## Removing unwated categories

In [17]:
data_train = data_train[data_train[0] != 'business']
data_test = data_test[data_test[0] != 'business']
data_train = data_train[data_train[0] != 'china']
data_test = data_test[data_test[0] != 'china']
data_train = data_train[data_train[0] != 'institutional']
data_test = data_test[data_test[0] != 'institutional']
data_train = data_train[data_train[0] != 'learningenglish']
data_test = data_test[data_test[0] != 'learningenglish']
data_train = data_train[data_train[0] != 'multimedia']
data_test = data_test[data_test[0] != 'multimedia']
data_train = data_train[data_train[0] != 'news']
data_test = data_test[data_test[0] != 'news']
data_train = data_train[data_train[0] != 'pakistan']
data_test = data_test[data_test[0] != 'pakistan']
data_train = data_train[data_train[0] != 'social']
data_test = data_test[data_test[0] != 'social']
data_train = data_train[data_train[0] != 'southasia']
data_test = data_test[data_test[0] != 'southasia']

In [18]:
data_train.groupby(by=0).count()

                  1
0
entertainment   285
india          1389
international   904
science         194
sport           258

In [19]:
data_test.groupby(by=0).count()

                 1
0
entertainment   71
india          357
international  212
science         61
sport           72

## Creating a new cleaned dataset

In [20]:
data_train_india = data_train[data_train[0] == 'india']
data_test_india = data_test[data_test[0] == 'india']

data_train_international = data_train[data_train[0] == 'international']
data_test_international = data_test[data_test[0] == 'international']

In [24]:
data_train_india = data_train_india[0:250]
data_train_international = data_train_international[0:250]

data_test_india = data_test_india[0:70]
data_test_international = data_test_international[0:70]

In [26]:
data_train = data_train[data_train[0] != 'india']
data_test = data_test[data_test[0] != 'india']
data_train = data_train[data_train[0] != 'international']
data_test = data_test[data_test[0] != 'international']

In [27]:
result_train = pd.concat([data_train,data_train_india,data_train_international])
result_test = pd.concat([data_test,data_test_india,data_test_international])

In [29]:
result_train.groupby(by=0).count()

                 1
0
entertainment  285
india          250
international  250
science        194
sport          258

In [30]:
result_test.groupby(by=0).count()

                1
0
entertainment  71
india          70
international  70
science        61
sport          72

## Shuffling the data

In [34]:
result_train = shuffle(result_train)
result_test = shuffle(result_test)

## Saving the cleaned dataset

In [ ]:
result_train.to_csv(f'{paths["dataset-cleaned"]}/hindi-cleaned-train.csv', index = False)
result_test.to_csv(f'{paths["dataset-cleaned"]}/hindi-cleaned-test.csv', index = False)